.tree {
    flex-basis: 15%;
    flex-shrink: 0;
    padding-top: 1.2em;
}

.tree p,
.link:hover,
:global(.active) {
    font-weight: 600;
}

.tree > p,
.innerList li,
.topCategory {
    margin-bottom: 0.75rem;
}

.innerList li,
.topCategory {
    cursor: pointer;
}

.topList {
    margin-left: 2rem;
}

.topList ul {
    margin-left: 2rem;
}

.topCategory {
    display: flex;
    justify-content: space-between;
    color: var(--default-color);
    text-decoration: none;
}

.topCategory img {
    width: 0.5rem;
    height: 0.5rem;
}

.innerList ul {
    display: none;
    overflow: hidden;
    transition: display 0.3s ease-in-out;
}

.expanded ul {
    display: block;
}

.expanded img {
    transform: rotate(180deg);
}

.link {
    color: var(--default-color);
    text-decoration: none;
}
