* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

body {
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-text-default);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text-default);
}

button {
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
