.categoryMenu {
    background-color: var(--color-theme-main);
    width: 100%;
}

.categoryMenu ul {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.categoryMenu ul li a {
    color: var(--color-white);
}

.categoryMenu ul li a:active(.global) {
    text-decoration: underline;
}
