.categoryMenu {
    background-color: var(--color-theme-main);
    width: 100%;
}

.categoryMenu ul {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;

    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.categoryMenu ul a {
    color: var(--color-white);
    padding: 1rem 0;
    display: block;
}

.categoryMenu a:global(.active) {
    font-weight: 700;
    text-decoration: underline;
}
