.option {
    border-bottom: 1px solid var(--color-default-grey);
}

.optionTitle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem 0;
}

.arrow {
    width: 0.75rem;
    height: 0.75rem;
}

.arrowFlipped {
    transform: rotate(180deg);
}

.details {
    display: none;
    padding-bottom: 1rem;
}

.detailsVisible {
    display: block;
}
