.wrapper {
    margin: 0 auto;
    max-width: 100rem;
    padding: 0 3rem;
}

.container {
    background-color: var(--color-theme-gray);
    margin-top: 1rem;
    padding: 1rem;
    flex-basis: 100%;
}

.container h2 {
    margin-top: 0;
}
