.menu {
    background-color: var(--color-theme-main);
}

.menuContainer {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.menuContent {
    display: flex;
    gap: 1rem;
}

.menuItem {
    display: block;
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.2rem 0;
}

.menuItem:global(.active) {
    text-decoration: underline;
}

.menuItem:hover {
    text-decoration: underline;
}
