.footer {
    width: 100%;
    height: 200px;

    background-color: var(--color-text-default);
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
}
