.product {
    position: relative;
}

.product img {
    width: 250px;
    height: 400px;
}

.product h3 {
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.product p {
    margin-bottom: 1rem;
    color: var(--color-price);
}

.heart {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    width: 24px;
    height: 24px;

    background-image: url("../../assets/heart.svg");
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
}

.heart:hover {
    background-image: url("../../assets/heart-full.svg");
}
