.paginationContainer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
}

.pagination {
    display: flex;
    font-size: 1.2rem;
    gap: 1rem;
    color: var(--default-color-grey);
}

.pagination li {
    cursor: pointer;
}

.arrow {
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
    margin: 0 1rem;
}

.arrowLeft {
    transform: rotate(90deg);
}

.arrowRight {
    transform: rotate(-90deg);
}
