.breadcrumbs {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.breadcrumbs a {
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.breadcrumbs img {
    transform: rotate(-90deg);
    margin-left: 0.5rem;
}

.breadcrumbs li:last-of-type img {
    display: none;
}

.breadcrumbs a:global(.active) {
    font-weight: 700;
}
