.mainMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mainMenu li a {
    text-transform: uppercase;
    color: var(--color-text-grey);
    padding: 1rem 0;
    display: block;
    font-weight: 700;
}

.mainMenu a:global(.active) {
    color: var(--color-text-default);
    border-bottom: 3px solid var(--color-text-default);
}
