.mainMenu {
    display: flex;
    gap: 1rem;
}

.mainMenu a {
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 0;
    display: block;
    color: var(--color-text-grey);
}

.mainMenu a:global(.active) {
    color: var(--color-text-default);
    border-bottom: 3px solid var(--color-text-default);
}
