.menu {
    composes: horizontal-list from "../../styles/Utils.module.css";
}

.menuItem {
    font-size: 1rem;
    display: inline-block;
    padding: 1rem 0;
    color: var(--color-default-grey);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: border-bottom, color 0.3s ease;
}

.menuItem:global(.active),
.menuItem:hover {
    color: var(--color-default);
}

.menuItem:global(.active) {
    border-bottom: 3px solid var(--color-default);
}
