.favouriteProduct {
    display: flex;
    padding: 1rem 0;
    border-top: 1px solid var(--color-text-grey);
}

.favouriteProduct img {
    width: 85px;
    height: 140px;
    margin-right: 3rem;
}

.favouriteProductInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.topRow h3 {
    font-weight: 400;
}

.topRow p {
    font-weight: 700;
}

.priceRow span {
    color: var(--color-text-grey);
}

.buttonRow {
    display: flex;
    gap: 2rem;
    flex: 1;
    align-items: flex-end;
}

.buttonRow button {
    border: none;
    background: none;
}

.buttonRow img {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}
