.menu {
    background-color: var(--color-theme-main);
}

.menu-content {
    display: flex;
    gap: 1rem;
}

.menu-item {
    display: block;
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.2rem 0;
}

.menu-item:global(.active) {
    text-decoration: underline;
}

.menu-item:hover {
    text-decoration: underline;
}
