.iconMenu {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.iconMenu li {
    position: relative;
}

.numberOfProducts {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;

    background-color: var(--color-yellow);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;

    font-size: 0.5rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}
