.cartProduct {
    border-top: 1px solid var(--color-default-grey);
    display: flex;
    padding: 1rem 0;
}

.cartProductDescription {
    flex: 1;
}

.image {
    width: 85px;
    height: 120px;
    margin-right: 3rem;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.price {
    font-weight: 600;
}

.details p {
    color: var(--color-default-grey);
    margin-bottom: 0.75rem;
}

.details span {
    color: var(--color-default);
    font-weight: 600;
    vertical-align: middle;
}

.button {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    cursor: pointer;
    color: var(--color-default);
    margin-top: 1rem;
}

.button img {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}
