.button {
    --bg-color: var(--color-theme-main);
    width: 100%;
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    border: none;
    background: none;
    background-color: var(--bg-color);
}

.black {
    --bg-color: var(--color-text-default);
}

.inverted {
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    background: none;
}
