.button {
    border: none;
    background: none;
    width: 100%;
    padding: 1rem 0;
    color: var(--color-white);
    text-transform: uppercase;
    background-color: var(--color-theme-main);
    font-weight: 700;
}
