.heroContainer {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.summerSaleCoverImage {
    position: relative;
    height: 500px;

    background-position: top left;
    background-size: cover;
}

.summerSalePrompt {
    position: absolute;
    height: 50%;
    top: 5rem;
    padding: 3rem 5rem 1rem 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
