.expandableMenu {
    width: 12rem;
    padding-top: 1rem;
    padding-left: 1rem;
    flex-shrink: 0;
}

.expandableMenu p {
    font-weight: 700;
    margin-bottom: 1rem;
}

.expandableMenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.expandableMenu li ul {
    padding-left: 2rem;
}

.expandableMenu a:global(.active) {
    font-weight: 700;
}

.expanded {
    transform: rotate(180deg);
}
