.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid var(--color-text-grey);
}

.section p {
    margin-top: 0.5rem;
}

.expanded {
    transform: rotate(180deg);
}
