.hero {
    width: 100%;
    height: 500px;
    background-size: cover;
}

.contentWrapper {
    margin-top: 5rem;
    padding: 3rem 5rem;
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
}

.contentWrapper p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
