:root {
    --default-font-size: 16px;
    --default-font-family: Arial, Helvetica, sans-serif;
    --color-default: #222020;
    --color-default-grey: #7a7a7a;

    --color-yellow: #ffde00;
    --color-white: #ffffff;
    --color-theme-main: #056943;
    --color-theme-price: #c60c0c;
}
